# Team Members
# @Tuubz is the Team Lead
* @Tuubz @AVI5HEK @chornerman @doannimble @hoangnguyen92dn @kaungkhantsoe @luongvo @lydiasama @manh-t @minhnimble @ryan-conway @sleepylee @Wadeewee 

# Engineering Leads
CODEOWNERS @nimblehq/engineering-leads
